* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}


#navbar1 {
    background-color: #000033;
    height: 6.4%;
    width: 50%;
    display: flex;
    position: absolute;
    top: 0;
    padding: 0.5%;


}

#name {
    position: relative;
    top: -0.3;
    left: 1%;
}

#navbar2 {
    background-color: #000033;
    height: 6.4%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 25px;
    padding: 0.5%;

}

#navbar2 a {
    font-size: 70%;
    margin-top: 0.7%;
    height: 40%;
}

.navtags {
    position: relative;
    top: 21%;
    text-decoration: none;
    color: #ffffff;
    text-align: center;

}

.active {
    position: relative;
    top: 0;
    text-decoration: none;
    color: #ffffff;
    height: 40%;
    padding-top: 1.7%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1.4%;
    margin-left: -2%;
    margin-right: -2%;
    border-radius: 12px;
    color: #b8bbbf;
}

.navtags:hover {
    position: relative;
    top: 0;
    text-decoration: none;
    color: #ffffff;
    height: 40%;
    padding-top: 1.5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1.4%;
    margin-left: -2%;
    margin-right: -2%;
    border-radius: 12px;
    color: #b8bbbf;
}

.section1 {
    height: 80%;
    width: 100%;
    position: absolute;
    top: 8.2999%;
    display: flex;
}

#intro {
    color: white;
    font-size: 370%;
    position: relative;
    top: 13%;
    left: 3.2%;
    font-style: siara;
    font-weight: bold;
    width: 35%;
}

#para {
    color: white;
    position: relative;
    top: 16%;
    left: 3.2%;
    font-size: 120%;
    width: 96.5%;
    line-height: 150%
}

#test_button, .bt {
    color: #B4121B;
    font-size: 28px;
    position: relative;
    top: 23%;
    left: 3.2%;
    margin-top: 2%;
    padding: 15px;
    border-radius: 30px;
    background-color: #000033;
    text-decoration: none; 
    color: #ffffff;
   

}

.part1 {
    color: white;
}

.part2 {
    display: flex;
    background-color: #ffffff;
    height: 90%;
    width: 70%;
    align-items: center;
    margin-left: 3%;

}

.part2 img {
    height: 70%;
    width: 90%;
    align-items: center;
}

.section1 {
    height: 100%;
    width: 100%;
}

.section1 video {
    height: 100%;
    width: 100%;
}

.section2 {
    position: absolute;
    top: 120%;
    height: 100%;
    width: 100%;

}

.pass_box {
    width: 85%;
    height: 85%;
    background-color: #000033;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 4%;
    margin-bottom: 5%;
    border-radius: 40px;

}

.pass_box h2 {
    text-align: center;
    font-size: 250%;
    padding-top: 5%;
    color: white;
    display: block;
}

.pass_check_box {
    height: 70%;
    width: 90%;
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 4%;
    border-radius: 55px;

}

.pass_input {
    height: 20%;
    width: 100%;
    background-color: white;
    display: absolute;
    align-content: center;
    border-radius: 30px;
}

.pass_input input[type="text"] {
    margin-left: 25%;
    width: 50%;
    height: 60px;
    border: #000033 1px solid;
    border-radius: 10px;
    font-size: 150%;
    text-align: center;
    margin-top: 5%;
}

.analysis {
    height: 60%;
    width: 100%;
    display: flex;
    margin-top: 10%;
    align-content: space-evenly;
}

.p1 {
    height: 100%;
    width: 70%;
    margin-left: 5%;
}

.p1,
.p2 p {
    font-size: 30px;
}

.p2 {
    height: 100%;
    width: 70%;
    margin-left: 5%;
}

.p_strength {
    width: 70%;
    height: 30%;
    margin-top: 5%;
    color: red;
    font-size: 55%;
}

.output {
    color: red;
    width: 70%;
    height: 30%;
    margin-top: 5%;
}

.section3 {
    position: absolute;
    top: 220.5%;
    height: 100%;
    width: 100%;

}

.title1 {
    position: relative;
    top: 8%;
    font-size: 48px;
    left: 15%;
    color: #000033;
    font-weight: bold;
}

.sub_div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 35px 0;
    border-radius: 30px;
    margin-top: 70px;

}

.title1 {
    margin-top: -30px;
    margin-bottom: 90px;
    align-self: center;
    width: 70%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.sub {
    background: white;
    width: 25%;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.22);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.sub:hover {
    background: white;
    width: 25%;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.44);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.points {
    margin: 20px;
    text-align: center;
}

.img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
}

.img img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 250px;
    object-fit: cover;
}

.section4 {
    position: absolute;
    top: 315.5%;
    height: 135%;
    width: 100%;

}

.title2 {
    font-size: 48px;
    color: #000033;
    font-weight: bold;
    position: relative;
    top: 10%;
    height: 10%;
    left: 28%;
    width: 70%;
    padding-top: 3%;
    align-content: center;

}

.guide {
    position: relative;
    height: 75%;
    width: 42%;
    top: 14%;
    left: 31%;
    background-color: #000033;
    border-radius: 30px;
}

.strength {
    height: 90%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
}


.bottomimg {
    position: relative;
    bottom: 0;
    height: 8%;
    justify-self: center;
    margin-left: 2%;
}

.footer {
    position: absolute;
    top: 460%;
    height: 60%;
    width: 100%;
    background-color: #000033;
    margin-top: 10%;
    line-height: 2;
}

.footer1 {
    position: relative;
    top: 0;
    height: 20%;
    width: 100%;
    background-color: #000033;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footerblock {
    height: 68%;
    width: 18%;
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-top: 3%;
}

.footer2 {
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: -0;
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}

.footercontent {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.footercontent a {
    text-decoration: underline;
    color: white;
}

.social_media {

    height: 70%;
    width: 100%;
    display: flex;
}

.s_p {
    height: 20px;
    width: 40px;
    border-radius: 200px;
    margin-right: 5%;
    margin-top: 10%;

}

.s_p img {
    height: 200%;
    width: 100%;
    object-fit: cover;
    border-radius: 500px;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-size: cover;
}
@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }
}
